spring:
  application:
    name: nubank-technical-test
  datasource:
    url: jdbc:postgresql://localhost:5432/nubank_challenge
    username: nubank
    password: nubank
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false
server:
  port: 8080
